.idea
.project
.mvn
SparkplugTCKClient*
SparkplugTCKedge*
SparkplugTCKdevice*
tck/src/license/THIRD-PARTY.properties
.gradle
build/
target/
specification/src/main/asciidoc/docinfo-header.html
.settings
Sparkplug_TCK_*.zip
tck/Sparkplug_TCK_*.zip
.pydevproject
tck/webconsole/yarn.lock
